.weather {
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    display: flex;
    height: 25px;
}

.weather-click {
    display: flex;
    cursor: pointer;
}

.weather-icon{
    display: inline-block;
    margin: 0px 5px;
}

.js-weather {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon.active {
    animation: icon-spin 3s linear infinite;
}

.weather-min {
    position: absolute;
    display: block;
    top: 20px;
    left: 25px;
    opacity: 0;
    cursor: default;
}
.weather-max {
    position: absolute;
    display: block;
    top: 40px;
    left: 25px;
    opacity: 0;
    cursor: default;
}

.weather-min.active {
    animation: weather-show 1s ease forwards;
}
.weather-max.active {
    animation: weather-show 2.5s ease forwards;
}

@keyframes icon-spin {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@keyframes weather-show {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}