body {
  font-family: sans-serif;
  background-color: black;
}

.flex-container {
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  margin: 5px;
  margin-right: 15px;
  display: flex;
  width: 485px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  justify-content: flex-end;
}

.num {
  margin: 5px;
  border-radius: 20px;
  display: flex;
  background-color: #363439;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 160px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.equal {
  margin: 5px;
  border-radius: 20px;
  display: flex;
  background-color: #363439;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 160px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.reset {
  margin: 5px;
  margin-left: 10px;
  border-radius: 20px;
  display: flex;
  background-color: #A7AAB1;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 160px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.zero-num {
  margin: 5px;
  border-radius: 20px;
  display: flex;
  background-color: #363439;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 330px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.symbol {
  margin: 5px;
  border-radius: 20px;
  display: flex;
  background-color: #FE8E00;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 160px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.num, .symbol, .reset, .zero-num, .equal:hover{
  cursor: pointer;
}